body {

    background-image: url(./kompozicia-s-belymi-rozami-na-den-materi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}



.card {

    background-color: #dbd5b3;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.card-head {
    background-color: #89ddaf;
padding: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color:pink;
    padding: 20px;
    border-radius: 10px;
}

.card-btn {
    background-color: crimson;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: aliceblu;
    text-transform: uppercase;
    font-weight: 800;
    transition: all 1s;
   
}
.card-btn:hover{
background-color: palevioletred;
color: white;
box-shadow: 10px 10px 15px plum;
}